<script src="{{ resourceUrl('entrystatistics/js/jquery-2.2.4.js') }}"></script>
<script src="{{ resourceUrl('entrystatistics/js/plotly-latest.min.js') }}"></script>

<table>
{% for countLabel,countNum in statistics.counts %}
  <tr>
    <td style="padding-right: 10px;"><b>{{ countLabel|replace({'-':' '})|title }}</b></td>
    <td style="padding-left: 10px;">{{ countNum }}</td>
  </tr>
{% endfor %}
</table>

<ul id="#dates" style="display: none;">
  {% for key, value in statistics.data %}
    <li class="date" data-timestamp="{{ key|raw }}" data-count="{{ value }}">{{key}}: {{value}}</li>
  {% endfor %}
</ul>

{% if graph %}
  <div id="graph"></div>

  <script type="text/javascript">

    $(document).ready(function() {

      /**
       * Adapted from https://gist.github.com/chrisjhoughton/7890303
       * Waits for selector element to exist before applying callback
       */
      var waitForEl = function(selector, callback) {
        if ($(selector).length) {
          callback();
        } else {
          setTimeout(function() {
            waitForEl(selector, callback);
          }, 100);
        }
      };

      waitForEl('li.date', function() {
        var xVals = [];
        var yVals = [];

        $.each($('li.date'), function(index, dateLi) {
          xVals.push($(dateLi).data('timestamp'));
          yVals.push($(dateLi).data('count'));
        });

        var data = [
          {
            x: xVals,
            y: yVals,
            type: 'bar',
          }
        ];

        var layout = {
          "xaxis": {
            "type": "date",
          }
        };

        Plotly.newPlot('graph', data, layout);
      });

    });
  </script>
{% endif %}
