{% import "_includes/forms" as forms %}

{% set sectionInput %}
<div class="select">
  <select id="section" name="section">
    {% for section in craft.sections.getAllSections() %}
      {% if section.type != 'single' %}
        <option value="{{ section.id }}"{% if section.id == settings.section %} selected{% endif %}>{{ section.name|t }}</option>
      {% endif %}
    {% endfor %}
  </select>
</div>
{% endset %}

{{ forms.field({
  label: "Section"|t,
  instructions: "Which section do you want to statistics from?"|t,
  id: 'section',
  required: true,
  }, sectionInput)
}}

{{  forms.lightswitchField({
  label: "Show graph?"|t,
  id: 'graph',
  name: 'graph',
  value: settings.graph,
  required: false,
  on: settings.graph
  })
}}
